<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HMI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <HMI.Properties.Settings>
            <setting name="BA1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SA1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BA2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SA2" serializeAs="String">
                <value>0</value>
            </setting>
        </HMI.Properties.Settings>
    </applicationSettings>
</configuration>
